html,
body {
  background-color: #337ab7;
  font-family: 'Open Sans', sans-serif;
}

.nav-pills > li > a,
.list-group,
.list-group-item,
.panel {
  border-radius: 0 !important;
}

.container-fluid {
  padding: 0;
}

.list-group-item-heading,
.panel-custom {
  text-align: center;
}

.row {
  margin-right: 0;
  margin-left:  0;
}

.form-group {
  width: 100%;
}

.form-control.large {
  width: 60%;
}

.form-group .right {
  float: right;
}

.donut {
  width:100%;
  height:500px;
  min-width:500px;
  background-color: white;
}

.tab-content {
  padding : 1%;
}

.nav-pills {
  background-color: white;
}

.list-group-item-heading {
  font-weight: bold;
  font-size: large;
  padding: 10px 0 10px 0;
}

.date {
  margin-top: 3px;
  width:260px;
  padding-left: 10px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.text {
  padding: 0.5%;
}

.btn-custom {
  background-color: #829eba;
  color: white;
}

.nav-pills,
.list-group-item:last-child,
.list-group-item-heading,
.panel-custom,
.panel-default {
  box-shadow: 0 2px 0 rgba(0,0,0,0.4);
}

.panel-custom {
  /*background-color: #37e3c1;*/
  text-align: center;
}

.nav-pills > li.active {
  box-shadow: 0 2px 0 #337ab7;
}

#calendar {
  background: #fff;
  cursor: pointer;
  padding: 10px 15px;
}

.pieLabel > div {
  font-size: medium !important;
  text-transform: capitalize;
}

.col-xs-12,
.col-md-12 {
  padding-right: 0;
}

.chart-primary {
  fill: #337ab7;
}

.chart-success {
  fill: #5cb85c;
}

.chart-info {
  fill: #5bc0de;
}

.chart-warning {
  fill: #f0ad4e;
}

.chart-danger {
  fill: #d9534f;
}

.ct-label {
  fill: black;
  font-size: 1rem;
}
